
<script src="/stylesheet/Bootstrap-4/js/bootstrap.min.js"></script>
<script src="/stylesheet/Bootstrap-4/js/jquery.min.js"></script>
<script src="/stylesheet/custom_js/script1.js"></script>
</body>
</html>